ul.collapse,#userloggedin.collapse{
    visibility: visible !important;
}
.dropdown-toggle:empty::after
{
    font-size:22px;
    margin-left: 2px;
}
.dropdown-toggle::after
{
    right:-4px !important;
}
.login-sec a:after
{
    content: "" !important;
}
a#userloggedelem{
    position: absolute !important;
    /* transform: translate(58px, -10px); */
    right: 32px !important;
    top: 25px !important;
}
a#userloggedin::after{

    display: inline-block !important;
    margin-left: .255em !important;
    vertical-align: .255em !important;
    content: unset !important;
    border-top: .3em solid !important;
    border-right: .3em solid transparent !important;
    border-bottom: 0 !important;
    border-left: .3em solid transparent !important;
}

.navigation ul li a
{
    padding: 14px 4px;
}
ul > li ul > li{
    padding: 6px !important;;
}

ul > li ul > li > a{
    padding-top:0px !important;
    padding-left:10px !important;
}

.userlogged
{
    position: absolute !important;
    top: 60px !important;
    right: 20px;
    width: 120px;
}

.userlogged ul > li:nth-child(1){
    padding: 8px 22px;
    border-bottom: 1px dotted #a1a1aa99;
}

.custom-card-height {
    height: 120px; /* Adjust this value as needed */
  }

 .card-title{
    font-size: 1.1em;
 }
  .card-body p.card-text.badge{
    font-size:2em;
    font-weight: 700;
  }

.btn-success.disabled{
    cursor: not-allowed;
    background-color: #1987546b;
    border-color:#1987546b;
    opacity: 0.4;
}
.btn-danger.disabled{
    cursor: not-allowed;
    border-color:#b02a3761;
    background-color:#b02a3761;
    opacity: 0.4;
}

button.add-btn{
    background: #642a81;
    border: #642a81;
    font-size: 12px;
    border-radius: 30px;
    color: #fff;
    padding: 8px 15px;
    font-family: 'graphikmedium';
    position: absolute;
    top: 200px;
    right: 64px;
}
.fileUpload.btn.btn--browse
{
    width: 145px !important;
    right:700px !important;
    bottom:0px;
    vertical-align: middle;
}

#propertyimg{
    width: 80% !important;
}
#imagePreview{

    transform: translate(0px, 8px);
    width: 25%;
    max-width: 30%;
    border: 1px solid #a1a1aa6e;
    background: #8080800d;
}

.allstatus{
    display: flex;
}

.allstatus img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left:10px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;

    transform: translate(10px, 0px);

}

.file-upload label {
    background-color: #4c9baf;
    color: white;
    padding: 4px 10px;

      border-radius: 22px 22px 22px 22px;
    cursor: pointer;
}

.file-upload input[type="file"] {

    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}



